<div class="row">
  <div class="col-md-6 m-auto text-center">
    <div class="card">
      <img class="card-img-top img-fluid w-50 m-auto" src="
      {{#if profileUser.image}}{{profileUser.image}}
      {{else}}
      https://loremflickr.com/320/240
      {{/if}}
      " alt="Card image cap">
      <div class="card-body">
        {{#ifCond user.id profileUser.id}}
          {{#if profileUser.image}}{{else}}
            <p class="font-weight-light text-danger">You didn't set the image, <br>system will randomly provide you one.
          {{/if}}</p><br>
        {{/ifCond}}
        <h5 class="card-title">{{profileUser.name}}</h5>
        <p class="card-text">{{profileUser.email}}</p>
        {{#ifCond user.id profileUser.id}}
          <a href="/users/{{profileUser.id}}/edit" class="btn btn-primary">edit</a>
        {{/ifCond}}
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6 m-auto text-center">
    <div class="card">
      <div class="card-header">
        {{commentCount}} 已評論餐廳
      </div>
      <div class="card-body row">
        {{#each commentRestaurants}}
          <blockquote class="blockquote mb-3 col-auto">
            <a href="/restaurants/{{this.id}}">
              <img src="{{this.image}}" alt="{{this.name}} image" class="img-thumbnail"
                style="width: 100px; height: 100px;">
              <br>
              <h6 class="font-weight-light">{{this.name}}</h6>
            </a>
          </blockquote>
        {{/each}}
      </div>
    </div>
  </div>
</div>