<div class="row">
  <div class="col-md-6 m-auto text-center">
    <div class="card">
      <img class="card-img-top img-fluid w-50 m-auto" src="
      {{#if profileUser.image}}{{profileUser.image}}
      {{else}}
      https://loremflickr.com/320/240
      {{/if}}
      " alt="Card image cap">
      <div class="card-body">
        {{#ifCond user.id profileUser.id}}
          {{#if profileUser.image}}{{else}}
            <p class="font-weight-light text-danger">You didn't set the image, <br>system will randomly provide you one.
          {{/if}}</p><br>
        {{/ifCond}}
        <h5 class="card-title">{{profileUser.name}}</h5>
        <p class="card-text">{{profileUser.email}}</p>
        {{#ifCond user.id profileUser.id}}
          <a href="/users/{{profileUser.id}}/edit" class="btn btn-primary">edit</a>
        {{/ifCond}}
      </div>
    </div>
  </div>
</div>